//  LAYOUT ELEMENTS | RASPBERRY PI TOUCHSCREEN IS 800 x 480 

#content {
    width: 100%;
    max-width: 800px;
}

#dsUserForm {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
}

#dsSessionListDiv {
    display: none;
}

#dsAudioPlayer {
    display: none;
    width: 100%;
}

.dsForm {
    width: 600px;
    margin: 50px auto;
}

.dsButtonDiv {
    width: 100%;
    text-align: center;
}

div#dsPrompt {
    text-align: center;
}

.dsButton {
    padding: 6px 20px;
}

.dsHeadline {
    text-align: center;
}

input#dsGetName {
    width: 250px;
    height: 30px;
    padding: 3px 12px;
    font-size: 24px;
    text-align: center;
}



// FILE UPLOAD CLASSES

#fileButtonDiv {
    width: 100%;
    display: block;
}

div#fileList {
    width: 45%;
    max-width: 500px;
    margin-top: 30px;
    height: 377px;
    overflow-y: scroll;
    border: 1px solid;
    padding: 12px;
    border-radius: 4px;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}


// AUDIO PLAYER
div#audioPlayer {
    width: 40%;
    float: left;
    margin-top: 30px;
    padding: 12px;
    margin-left: 4%;
    height: 377px;
}

.dsTrackTitle {
    width: 300px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    color: #999;
    font-style: italic;
}

span.dsTitle {
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    font-style: normal;
}

.dsNotify {
    padding: 16px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    width: 302px;
    background: #f1f3f4;
    border-radius: 30px;
    height: 54px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
}


//  MUSIC TRACK LIST

.dsAudioFileName {
    width: 90%;
    max-width: 400px;
    border: 1px solid;
    padding: 8px 12px;
    border-radius: 8px;
    box-shadow: 4px 4px 8px #aaa;

    a {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 500;
        text-decoration: none;
        color: black
    }

    &:hover {
        background: #cecfcb;
        cursor: pointer;
    }
}

.dsActive {
    background: #F1F3ED;
    color: indianred;
    font-weight: bold;
}